html{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fkartinkof.club%2Fuploads%2Fposts%2F2022-04%2F1649573292_17-kartinkof-club-p-ugarnie-kartinki-na-avu-v-zum-17.jpg&f=1&nofb=1&ipt=a10cc224b1fc4542b58f309fcbf808b453fc6c3c3382b4af55d8bb930b2891cb&ipo=images);
}
h1{
    color: red;
    font-size: 100px;
}
.eda{
    color: black;
    font-size: 150px;
}
h2{
    color: blue;
    font-size: 15px;
}
h3{
    color: blue;
    font-size: 15px;
}
h4{
    color: yellow;
    font-size: 15px;
}
.eda2{
    color: black;
    font-size: 50px;
}